<div class="jumbotron mb-0 h-100" style="min-height:100% !important;">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body p-md-5">
                <div class="row text-center mb-md-4">
                    <h2>Frequently Asked Questions</h2>
                </div>
                <div class="row">
                    <div id="accordion" class="accordion w-100">
                        <div class="card mb-0">
                            <div class="card-header bg-light collapsed" data-toggle="collapse" href="#collapseOne">
                                <a class="card-title">
                                    1. How could an app possibly predict the delays for the next day?
                                </a>
                            </div>
                            <div id="collapseOne" class="card-body collapse" data-parent="#accordion" >
                                <p> 
                                We are using machine learning of course. 
                                We trained our ML model with historical data of delays based on the weather conditions at that time.
                                It still needs a lot more data to make it smarter.
                                </p>
                            </div>
                            <div class="card-header bg-light collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                <a class="card-title">
                                    2. How accurate is the prediction?
                                </a>
                            </div>
                            <div id="collapseTwo" class="card-body collapse" data-parent="#accordion" >
                                <p>
                                    The training process of our ML model is at an early stage. 
                                    It gives you a good idea of what to expect, due to the weather conditions. 
                                    We would need at least a cycle’s worth of data, that is one year. 
                                    Given time, based on some research papers about our ML model, it could reach around 70% of accuracy.
                                </p>
                            </div>
                            <div class="card-header bg-light collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                <a class="card-title">
                                    3. What about accidents and events, that cannot be predicted?
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" data-parent="#accordion" >
                                <div class="card-body">
                                    That is a very reasonable question. 
                                    For events like accidents or stolen overhead powerline, etc. our text analysis algorithm is checking MÁV’s official RSS Feed to retrieve the relevant information from the news, such as the reason for the delay, the expected delay and the stations, that can be affected by it, so we could notify you of potential delays in time.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>