<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom fixed-top">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['']">
      <img src="./assets/icons/icon-36x36.png" alt="Site Logo" class="" height="30px">
      <span class="navbar-title text-info ml-1">Prelay</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['schedule']">Schedule</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['faq']">FAQ</a>
          </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="(!isLoggedIn)">
          <a class="btn btn-sm btn-info mt-1 mr-1" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item" *ngIf="(!isLoggedIn)">
          <a class="btn btn-sm btn-light mt-1" [routerLink]="['/register']">Register</a>
        </li>
        <li class="nav-item dropdown" *ngIf="(isLoggedIn)">
          <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-circle-o" style="font-size:22px" aria-hidden="true"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/profile']">Profile</a>
            <a class="dropdown-item" (click)="this.logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div style="margin-top:58px;"></div>