<div class="row jumbotron bg-light">
  <div class="col-md-12 mt-3">
    <span class="h4">View Past Journeys</span>
    <div class="float-right">
      <a [routerLink]="['/profile/journeys/register']" class="btn btn-success btn-sm">Register New Journey</a>
    </div>
  </div>
  <div class="col-md-12 mt-3">
    <table class="table">
      <tr>
        <th>Starting Station</th>
        <th>Destination Station</th>
        <th>Date</th>
      </tr>
      <tr>
        <td>12312321</td>
        <td>213324234</td>
        <td>11-22-2018</td>
      </tr>
    </table>
  </div>
</div>