<div class="row jumbotron bg-light">
  <div class="col-md-12 mt-3">
    <span class="h4">Register New Journey</span>
    <div class="float-right">
      <a [routerLink]="['/profile/favorite-lines/all']" class="btn btn-success btn-sm">Favorite Lines</a>
    </div>
  </div>
  <div class="col-lg-12">
      <form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Source:</label>
            <ng-select 
              formControlName="selectedSource"
              [items]="stn"
              bindLabel="name"
              placeholder="Select Stations"
              [virtualScroll]="true"
              [ngClass]="{ 'is-invalid': submitted && f.selectedSource.errors }">
            </ng-select>
            <div *ngIf="submitted && f.selectedSource.errors" class="invalid-feedback">
                <div *ngIf="f.selectedSource.errors.required">Source is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Destination:</label>
            <ng-select
              formControlName="selectedDestination"
              [items]="stn"
              bindLabel="name"
              placeholder="Select Stations"
              [virtualScroll]="true"
              [ngClass]="{ 'is-invalid': submitted && f.selectedDestination.errors }">
            </ng-select>
            <div *ngIf="submitted && f.selectedDestination.errors" class="invalid-feedback">
                <div *ngIf="f.selectedDestination.errors.required">Destination is required</div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-info">Register New Favorite Line</button>
          </div>
          <div class="alert alert-danger" *ngIf="(error!=null)">
            {{error}}
          </div>
          <div class="alert alert-success" *ngIf="(success!=null)">
            {{success}}
          </div>
        </form>
  </div>
</div>