<div class="container">
  <div class="row">
		<div class="col-md-3 border">
      <!-- SIDEBAR USERPIC -->
      <div class="profile-userpic text-center pt-2">
        <i class="fa fa-user-circle fa-5x"></i>
      </div>
      <!-- END SIDEBAR USERPIC -->
      <!-- SIDEBAR USER TITLE -->
      <div class="profile-usertitle">
        <div class="profile-usertitle-name">
          {{name}}
        </div>
      </div>
      <div class="profile-usermenu">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a [routerLink]="['/profile/home']" class="nav-link" routerLinkActive="active">
            <i class="fa fa-user"></i>
            Personal Details</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/profile/notification']" class="nav-link" routerLinkActive="active">
            <i class="fa fa-bell"></i>
            Notification Settings </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/profile/subscription']" class="nav-link" routerLinkActive="active">
            <i class="fa fa-money"></i>
            Subscription Details</a>
          </li>
          <li class="nav-item">
              <a [routerLink]="['/profile/favorite-lines/all']" class="nav-link" routerLinkActive="active">
            <i class="fa fa-train"></i>
            Favorite Lines</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/faq']" class="nav-link">
            <i class="fa fa-question"></i>
            FAQ</a>
          </li>
        </ul>
      </div>
		</div>
		<div class="col-md-9">
      <router-outlet></router-outlet>
		</div>
	</div>
</div>