<div class="container-fluid">
    <div class="row welcome_img_container">
        <div class="text-block p-5 text-center" style="vertical-align: middle"> 
            <div class="col-md-6 offset-md-3 p-md-5">
                <h1 class="text-warning">Prelay</h1><h2>Predicting Delays</h2>
                <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, neque quo laudantium, harum labore tempore eligendi odit dolorem iure nesciunt magni explicabo omnis voluptatum sapiente fugiat eaque aspernatur a ab?</p>
                <a [routerLink]="['/register']" class="btn btn-success btn-lg">Register Now</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card rounded-0 border-0">
                <div class="card-body text-center text-muted">
                    <i class="fa fa-bell fa-5x"></i>
                    <h3>Instant Notification</h3>
                    <div>Get Instant Notification for the scheduled Train in the Future.</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card rounded-0 border-0">
                <div class="card-body text-center text-muted">
                    <i class="fa fa-check fa-5x"></i>
                    <h3>Accurate Forecasting</h3>
                    <div>Get Instant Notification for the scheduled Train in the Future.</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card rounded-0 border-0">
                <div class="card-body text-center text-muted">
                    <i class="fa fa-check-circle fa-5x"></i>
                    <h3>Accurate Forecasting</h3>
                    <div>Get Instant Notification for the scheduled Train in the Future.</div>
                </div>
            </div>
        </div>
    </div>
  <div class="row">
      <div class="jumbotron col-md-12 text-center rounded-0">
          <img src="assets/imgs/under_construction.webp" alt="Under Construction" class="img-fluid">
      </div>
  </div>
</div>