<div class="container-fluid">
    <div class="row welcome_img_container">
        <div class="text-block p-5 text-center" style="vertical-align: middle"> 
            <div class="col-md-6 offset-md-3 p-md-5">
                <h1 class="text-warning">Prelay</h1><h2>Predicting Delays</h2>
                <p class="lead">Machine learning based system for predicting the delay of trains and other public transportation vehicles with high accuracy.</p>
                <a [routerLink]="['/register']" class="btn btn-success btn-lg">Register Now</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card rounded-0 border-0">
                <div class="card-body text-center text-muted">
                    <i class="fa fa-bell fa-5x"></i>
                    <h3>Instant Notification</h3>
                    <div>Get Instant Notification for the scheduled Train in the Future.</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card rounded-0 border-0">
                <div class="card-body text-center text-muted">
                    <i class="fa fa-check-circle fa-5x"></i>
                    <h3>Precised Forecasting</h3>
                    <div>Get the Schedule of the trains with precised time.</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card rounded-0 border-0">
                <div class="card-body text-center text-muted">
                    <i class="fa fa-desktop fa-5x"></i>
                    <h3>API for Development</h3>
                    <div>API Available for the Developers</div>
                </div>
            </div>
        </div>
    </div>
  <div class="row">
      News
    <ul>
        <li let row of news>
            <a href="{{row['url']}}">{{row['title']}}</a>
        </li>
    </ul>
  </div>
</div>